<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tamadc.marketplace">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/paint"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".handmadelist"
            android:label="handmade"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".form_login" />
        <activity android:name=".MenuUser" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".Menu" />
        <activity android:name=".MenuCreative" />
        <activity android:name=".MenuProfil" />
        <activity android:name=".MenuKonfirmasi"></activity>
    </application>

</manifest>